.upload-bg {
    background: url("img/Brick.png") center top repeat-y;
	background-size: cover;
}

.upload-container {
    text-align: center;
    margin-top: 40px;
}

.upload-container h1 {
    color: #ff4d4d;
    font-size: 14px;
    font-weight: 5;
    margin-bottom: 20px;
}

.subtitle {
    margin-bottom: 30px;
    font-size: 10px;
    font-weight: 5;
}

.upload-form {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.image-box {
    width: 390px;
    height: 500px;
    border: 4px solid #6a4bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #1f2a5a;
    position: relative;
}

.image-box input {
    display: none;
}

.upload-icon {
    width: 40px;
    margin-bottom: 10px;
}

.image-box span {
    font-size: 10px;
    color: #ccc;
}

.form-right {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.form-right input,
.form-right select {
    margin-bottom: 20px;
    padding: 0px 15px;
    background: transparent;
    border: 4px solid #6a4bff;
    background: #1f2a5a;
    color: white;
    font-family: 'Smartie';
    font-size: 10px;
    height: 45px;
    width: 400px;
}

.form-right textarea {
    margin-bottom: 20px;
    padding: 15px;
    background: transparent;
    border: 4px solid #6a4bff;
    background: #1f2a5a;
    color: white;
    font-family: 'Smartie';
    font-size: 10px;
    width: 400px;
}

textarea {
    height: 300px;
    resize: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    background-color: #1f2a5a;
}

.select-wrapper select option {
    color: rgb(186, 186, 186);
}

.select-wrapper::after {
    content: "";
    position: absolute;
    right: -60px;
    top: 50%;
    width: 18px;
    height: 18px;
    background: url("img/arrow_down.png") no-repeat center/contain;
    transform: translateY(-100%);
    pointer-events: none;
}

.form-right button {
    position: relative;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    font-family: 'Smartie';
    font-size: 10px;
    font-weight: 5;
    width: 400px;
    z-index: 1;
}

.form-right button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #B43737;
    z-index: -1;
}

.form-right button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #672C2C;
    transform: translate(8px, 8px);
    z-index: -2;
}

.not-auth {
    margin-top: 100px;
}

.not-auth h5 {
    margin-bottom: 30px;
    font-weight: 5;
}

.action-btn {
    display: block;
    width: 240px;
    margin: 30px auto;
    padding: 20px 10px;
    text-decoration: none;
    color: white;
    position: relative;
    text-align: center;
    font-size: 10px;
}

.action-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #B43737;
    z-index: -1;
}

.action-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #672C2C;
    transform: translate(8px, 8px);
    z-index: -2;
}


.custom-select {
    position: relative;
    width: 400px;
    margin-bottom: 20px;
    font-size: 10px;
}

.select-selected {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    height: 45px;
    border: 4px solid #6a4bff;
    background: #1f2a5a;
    cursor: pointer;
}

.select-selected img {
    width: 30px;
}

.select-selected::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("img/arrow_down.png") no-repeat center/contain;
}

.select-options {
    position: absolute;
    width: 100%;
    background: #151d41;
    border: 4px solid #3f2aa5;
    border-top: none;
    display: none;
    z-index: 5;
}

.select-options div {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.select-options div:hover {
    background: #2b3a7a;
}

.select-options img {
    width: 30px;
}